.fila {
width: 80%;
max-width: 1200px;
height: 600px;
border:2px solid  rgba(112, 61, 170, 0.37);
margin: 0 auto;
margin-top: 100px;  
position:relative;
display:flex;

}
.fila .cont-btn{
    width: 50%;
    height: 84%;
    background: #cacad26b;
    text-align: center;
    padding: 48px 30px;
}
.fila .cont-btn h2{
    color: rgb(140, 0, 255);
    font-size: 50px;

}
.fila .cont-btn button{
    padding: 8px 15px;
    font-size: 22px;
    border: 2px solid rgba(50, 9, 126, 0.473);
    margin: 10px 14px;
    background: #3434790b;
    border-radius: 12px;
    cursor: pointer;
}
.fila   .cont-fig{
    width: 50%;
    height: 93.25%;
    background: #aaaacd;
    text-align: center;
    padding-top: 40px;
}

.fila   .cont-fig h2{
    color:#27208ac5 ;
    font-size: 50px;
}
.fila .cont-fig #figura{
width: 200px;
height: 200px;
background: rgb(124, 176, 211);
margin: 0 auto;
transition: 1s;

}      

.fila .cont-fig #figura.circulo{
    border-radius: 50%;
    transform: rotate(360deg);
    background: rgba(153, 91, 91, 0.486);
}
.fila .cont-fig #figura.arriba{

    transform: translateY(-50px);
}
.fila .cont-fig #figura.abajo{

    transform: translateY(120px);
}

.fila .cont-fig #figura.rectangulovertical{

    width: 200px;
    height: 300px;
    background: rgb(156, 33, 33);
    margin: 0 auto;
    transition: 1s;
}
.menu{
    padding: 8px;
    background: blue;
    color: #aaaacd;
    position: absolute;
    right: 150px;
    bottom: 150px;
    text-decoration: none;
}
.fila .cont-fig #figura.rectangulohorizontal{
    transform: rotate(360deg);
    width: 300px;
    height: 200px;
    background: rgb(156, 33, 33);
    margin: 0 auto;
    transition: 1s;
}

.fila .cont-fig #figura.derecha{

    transform: translateX(120px);
}
.fila .cont-fig #figura.izquierda{

    transform: translateX(-120px);
}
.fila .cont-fig #figura.diagonalasuperior{

    transform: translate(-120px, -100PX);
}
.fila .cont-fig #figura.diagonalinferior{

    transform: translate(120px, 100PX);
}
.fila .cont-fig #figura.rombo{

    border-radius:10px;
    background-color:rgba(79, 67, 151, 0.527);
    padding:0;
    width:200px;
    height:200px;
    margin:auto;
    text-align:center;
    display:block;
    border:5px solid rgb(20, 160, 101);
    transform: rotate(45deg);
    transition: transform  0.1s cubic-bezier(0, 1.8, 1, 1.8);
        
}

.fila .cont-fig #figura.imagen{

        background :url(../img/1.png);
        
}